<!-- multi config window, notifier options etc. -->
<!-- prefs window -->

<groupdef id="grpgeneral" name="General" tooltip="General options">
		
<!-- GENERAL -->
	
	<Wasabi:TitleBox id="containergenopt" x="0" y="0" 
		w="170" h="46" 
		title="General Options"
		color="lcdtext"/>
	
	<!-- DTA forced on due to duplicating windows bug - for now at least -->
	
	<Wasabi:Checkbox id="checkbox.aot" x="10" y="12" color="255,255,255" text="Always On Top" 
		cfgattrib="{280876CF-48C0-40BC-8E86-73CE6BB462E5};Always on top"		
	/>	
	<Wasabi:Checkbox id="checkbox.enabletooltips" x="10" y="25" color="255,255,255" text="Enable Tooltips" 
		cfgattrib="{9149C445-3C30-4E04-8433-5A518ED0FDDE};Enable tooltips"		
	/>
	
<!-- CLOCK -->
	<Wasabi:TitleBox id="container" x="0" y="49" 
		w="170" h="60" 
		title="Clock Options"
		color="lcdtext"/>
	
	<Wasabi:Checkbox id="checkbox.clockshowclockwhenstopped" x="10" y="61" text="Show when stopped" cfgattrib="{EFF7B9C8-57D3-442f-B9D2-43F9C1AEF75F};ShowClockwhenStopped"/>
	<Wasabi:Checkbox id="checkbox.clockshow24hourclock" x="10" y="74" text="Show 24 hour Clock" cfgattrib="{EFF7B9C8-57D3-442f-B9D2-43F9C1AEF75F};Show24HourClock"/>
	<Wasabi:Checkbox id="checkbox.clockshowclockleadingzero" x="10" y="87" text="Show leading zero" cfgattrib="{EFF7B9C8-57D3-442f-B9D2-43F9C1AEF75F};ShowClockLeadingZero"/>
	
<!-- COVER -->
	<Wasabi:TitleBox id="container" x="0" y="112" 
		w="170" h="74" 
		title="Full Mode Cover Options"
		color="lcdtext"/>
	
	
	<Wasabi:Checkbox id="checkbox.covershowcover" x="10" y="124" text="Toggle Cover" cfgattrib="{0ff91115-b854-4c37-b614-fadb84edac8f};Show Cover"/>
	<Wasabi:Checkbox id="checkbox.covershowviz" x="10" y="137" text="Toggle Viz" cfgattrib="{0ff91115-b854-4c37-b614-fadb84edac8f};Show Viz"/>
	<Wasabi:Checkbox id="checkbox.covershowcubeviz" x="10" y="150" text="Toggle Cube Viz" cfgattrib="{0ff91115-b854-4c37-b614-fadb84edac8f};Show Cube Viz"/>
	
	<Wasabi:Checkbox id="checkbox.coverrotatestdviz" x="10" y="164" text="Rotate Std Viz" cfgattrib="{0ff91115-b854-4c37-b614-fadb84edac8f};Rotate Std Viz"/>
	
	
<!-- SONGTICKER -->	
	<Wasabi:TitleBox id="container" x="0" y="189" 
		w="170" h="46" 
		title="Songticker Options"
		color="lcdtext"/>
	
	<Wasabi:Checkbox id="checkbox.tickerscrolling" x="10" y="201" color="255,255,255" text="Enable Scrolling" cfgattrib="{7061FDE0-0E12-11D8-BB41-0050DA442EF3};Enable Songticker scrolling"/>	
	<Wasabi:Checkbox id="checkbox.tickerclassicstyle" x="10" y="214" color="255,255,255" text="Classic Style" cfgattrib="{7061FDE0-0E12-11D8-BB41-0050DA442EF3};Classic Style"/>
	
	
</groupdef>

<groupdef id="cfggrps" name="ConfigGroups">

	<text 
		id="txtgrpGeneral" 
		x="10" y="27" 
		w="100" h="14" 
		text="General"
		font="Trebuchet MS"
		align="left"
		fontsize="14"
		ticker="0"
		rectrgn="1"
		color="lcdtext"
	/>

	<button
		id="btngrpGeneral"
		x="10" y="27" 
		w="100" h="14"
		image="blank"
		tooltip="Show General Options"
		rectrgn="1"
	/>
		
	
		<text 
		id="txtgrpNotifier" 
		x="100" y="27" 
		w="100" h="14" 
		text="Notifier"
		font="Trebuchet MS"
		align="left"
		fontsize="14"
		color="lcdtext"
		ticker="0"		
	/>
	
	
	<button
		id="btngrpNotifier"
		x="100" y="27" 
		w="100" h="14"
		image="blank"
		tooltip="Show Notifier Options"
		rectrgn="1"
	/>
	
</groupdef>

<groupdef id="grpnotifier" name="Notifier" tooltip="Set notifier options here">
	<Wasabi:TitleBox id="containernoti" x="0" y="0" 
		w="170" h="236"
		title="Notifier Options"
		color="lcdtext"/>


	<Wasabi:RadioGroup id="notishowgrp" />	
	<Wasabi:Checkbox id="checkbox.notishowalways" x="10" y="12" text="Show Always" radioid="notishowgrp" cfgattrib="{4b100531-6dd6-4b89-8ee2-3392d7feeb79};Show always"/>
	<Wasabi:Checkbox id="checkbox.notishowminimized" x="10" y="25" text="Show only when minimized" radioid="notishowgrp" cfgattrib="{4b100531-6dd6-4b89-8ee2-3392d7feeb79};Show only when minimized"/>
	<Wasabi:Checkbox id="checkbox.notishownever" x="10" y="38" text="Show Never" radioid="notishowgrp" cfgattrib="{4b100531-6dd6-4b89-8ee2-3392d7feeb79};Never show"/>
	
	<Wasabi:Checkbox id="checkbox.notishowfullscreen" x="10" y="52" text="Show in fullscreen" cfgattrib="{4b100531-6dd6-4b89-8ee2-3392d7feeb79};Show in fullscreen"/>

	
	<Wasabi:Checkbox id="checkbox.notienablecover" x="10" y="70" text="Enable Cover" cfgattrib="{4b100531-6dd6-4b89-8ee2-3392d7feeb79};Enable Cover"/>
	
	<text 
		id="notilocation" 
		x="10" y="90" 
		w="100" h="14" 
		text="Location:"
		font="Trebuchet MS"
		align="left"
		fontsize="14"
		color="lcdtext"
		ticker="0"		
	/>
	<Wasabi:RadioGroup id="locationnoti"/>
	<Wasabi:Checkbox id="checkbox.notilocationtl" x="10" y="102" text="Top Left" radioid="locationnoti" cfgattrib="{e308e077-16d9-4704-9cd5-125c06e93e71};Top Left"/>
	<Wasabi:Checkbox id="checkbox.notilocationtr" x="85" y="102" text="Top Right" radioid="locationnoti" cfgattrib="{e308e077-16d9-4704-9cd5-125c06e93e71};Top Right"/>
	<Wasabi:Checkbox id="checkbox.notilocationbl" x="10" y="115" text="Bottom Left" radioid="locationnoti" cfgattrib="{e308e077-16d9-4704-9cd5-125c06e93e71};Bottom Left"/>
	<Wasabi:Checkbox id="checkbox.notilocationbr" x="85" y="115" text="Bottom Right" radioid="locationnoti" />
	
		
	
	<text 
		id="notifadein" 
		x="10" y="138" 
		w="100" h="14" 
		text="Fade In Effect:"
		font="Trebuchet MS"
		align="left"
		fontsize="14"
		color="lcdtext"
		ticker="0"		
	/>
	
	<Wasabi:RadioGroup id="notiinfade" />	
	<Wasabi:Checkbox id="checkbox.notifadeinalpha" x="10" y="150" text="Alpha" radioid="notiinfade" cfgattrib="{45779031-790e-4f71-aa74-5c4744e044ac};Alpha Fade"/>
	<Wasabi:Checkbox id="checkbox.notifadeinvertical" x="10" y="163" text="Vertical" radioid="notiinfade" cfgattrib="{45779031-790e-4f71-aa74-5c4744e044ac};Vertical Slide"/>
	<Wasabi:Checkbox id="checkbox.notifadeinhorizontal" x="10" y="176" text="Horizontal" radioid="notiinfade" cfgattrib="{45779031-790e-4f71-aa74-5c4744e044ac};Horizontal Slide"/>
	
	<text 
		id="notifadeout" 
		x="86" y="138" 
		w="100" h="14" 
		text="Fade Out Effect:"
		font="Trebuchet MS"
		align="left"
		fontsize="14"
		color="lcdtext"
		ticker="0"		
	/>
	
	<Wasabi:RadioGroup id="notioutfade" />	
	<Wasabi:Checkbox id="checkbox.notifadeinalpha" x="86" y="150" text="Alpha" radioid="notioutfade" cfgattrib="{b15651a9-2256-4019-a357-b776d2cc00a1};Alpha Fade "/>
	<Wasabi:Checkbox id="checkbox.notifadeinvertical" x="86" y="163" text="Vertical" radioid="notioutfade" cfgattrib="{b15651a9-2256-4019-a357-b776d2cc00a1};Vertical Slide "/>
	<Wasabi:Checkbox id="checkbox.notifadeinhorizontal" x="86" y="176" text="Horizontal" radioid="notioutfade" cfgattrib="{b15651a9-2256-4019-a357-b776d2cc00a1};Horizontal Slide "/>
	
		
		
	<text 
		id="notiyoffset" 
		x="10" y="200" 
		w="100" h="14" 
		text="Y Offset (Pixels):"
		font="Trebuchet MS"
		align="left"
		fontsize="14"
		color="lcdtext"
		ticker="0"		
	/>
	<Wasabi:RadioGroup id="yoffsetnoti"/>
	<Wasabi:Checkbox id="checkbox.notiyoffset1" x="10" y="213" text="20" radioid="yoffsetnoti" cfgattrib="{66623378-20fb-11dc-8314-0800200c9a66};20 Pixels"/>
	<Wasabi:Checkbox id="checkbox.notiyoffset2" x="40" y="213" text="40" radioid="yoffsetnoti" cfgattrib="{66623378-20fb-11dc-8314-0800200c9a66};40 Pixels"/>
	<Wasabi:Checkbox id="checkbox.notiyoffset3" x="70" y="213" text="60" radioid="yoffsetnoti" cfgattrib="{66623378-20fb-11dc-8314-0800200c9a66};60 Pixels"/>
	<Wasabi:Checkbox id="checkbox.notiyoffset4" x="100" y="213" text="80" radioid="yoffsetnoti" cfgattrib="{66623378-20fb-11dc-8314-0800200c9a66};80 Pixels"/>
	<Wasabi:Checkbox id="checkbox.notiyoffset5" x="130" y="213" text="100" radioid="yoffsetnoti" cfgattrib="{66623378-20fb-11dc-8314-0800200c9a66};100 Pixels"/>
		
</groupdef>



<container id="configs" name="Config Options" default_visible="0" >
	<layout id="normalconfigs" droptarget="pldr" desktopalpha="1"
		alphabackground="player.background.full.config" background="player.background.full.config"
		snapadjusttop = "0"
		snapadjustleft = "0"
		snapadjustright = "0"
		snapadjustbottom = "5" w="197" h="297">
		
		<!-- RGB -->
		<layer id="cfg.background.changer.blue" image="player.background.blue" rectrgn="0" x="0" y="0" alpha="0" ghost="1"/>
		<layer id="cfg.background.changer.green" image="player.background.green" rectrgn="0" x="0" y="0" alpha="0" ghost="1"/>
		<layer id="cfg.background.changer.red" image="player.background.red" rectrgn="0" x="0" y="0" alpha="0" ghost="1"/>
		<!-- RGB -->
		
		<text 
			id="title" 
			x="0" y="9" 
			w="192" h="14" 
			text="Ebonite Config"
			font="Trebuchet MS"
			align="center"
			fontsize="14"
			color="lcdtext"
			ghost="1"
			ticker="0"
		/>
		

		
		<button
			id="Close"
			action="CLOSE"
			x="178" y="6"
			image="button.close"
			tooltip="Close"
			rectrgn="1"
		/>
		
		
		<group id="cfggrps" x="0" y="0"/>
		<group id="grpgeneral" x="10" y="45" w="170" h="257"/>
		<group id="grpnotifier" x="10" y="45" w="170" h="257"/>
	
		<script id="cfgs.script" file="scripts/config.maki"/>
	</layout>	
</container>