.stretched
{
	width: 100%;
}

.floatLeft
{
	float: left;
	margin-top: 8px;
}

.red
{
	border: solid 1px red;
}

.noSpacing
{
	margin: 0 !important;
	padding: 0 !important;
}

.noBorder
{
	border: 0 !important;
}