<?xml version="1.0" encoding="UTF-8"?>
<DCommonsConfig><lastSaveOpenPath>/Users/Martin/Documents/</lastSaveOpenPath>
  <exportOpenBrowser>0</exportOpenBrowser>
  <windowState>2</windowState>
  <windowPosX>494</windowPosX>
  <windowPosY>245</windowPosY>
  <windowPosW>586</windowPosW>
  <windowPosH>498</windowPosH>
  <popplerPos>85</popplerPos>
  <lastOpenedFile>C:/Users/Martin/Documents/full.myf</lastOpenedFile>
</DCommonsConfig>