		    body
		    {
		        margin: 0;
		        padding: 0;
				width: 130px;
		        height: 170px;
                font-family: Trebuchet MS;
                font-weight: bold;
                font-size: small;
                color: rgb(210,210,210);
		    }
		    #imgBackground
		    {
				border: 0;
		    }
		    #gadget
		    {
		    	margin: 0;
				width: 130px;
				height: 170px;
		        max-height: 250px;
		        overflow: hidden;
		    }
		    #date
		    {
		    	width: 130px;
		        margin-top: 4px;
		        vertical-align: text-top;
		        text-align: center;
				font-size: 10pt;
                overflow: hidden;
                color: rgb(216,217,219);
		    }
		    #content
		    {
		    	display:none;
		        margin-left: 7px;
		        margin-top: 2px;
		        width: 116px;
		        height: 138px;	    
		        vertical-align: middle;
		        text-align: center;
				font-size: 8pt;
                overflow: hidden;
		    }
		    .button
		    {
	    		position: absolute;
		    	width: 14px;
		    	max-width: 14px;
		    	height: 15px;		    	
		    	max-height: 15px;
		    	background: url("../images/button-bg.png") no-repeat;
		    	margin: 0;
		    	padding: 0;
		    	cursor: pointer;
		    }
		    #next
		    {
		    	top: 6px;
		    	right: 7px;
		    }
		    #prev
		    {
		    	top: 6px;
			    left: 7px;
		    }
		    #refresh
		    {
		    	left: 7px;
		    	bottom: 5px;
		    }
		    #refreshBg
		    {
		    	position:absolute;
		    	left: 6px;
		    	bottom: 6px;
		    	margin: 0;
		    	padding: 0;		    	
		    }
			#newVersion
			{
		    	position:absolute;
		    	left: -200px;
				width: 118px;
		    	bottom: 6px;
		    	margin: 0;
		    	padding: 0;
				font-size: 8pt;
				text-align: center;
				background-color: rgb(83,91,101);
			}
			#newVersion:hover
			{
				background-color: rgb(103,111,121);
				color: rgb(250,250,250);
			}
			.bold { text-decoration: underline; font-weight: bolder; color: rgb(147,175,185);}
			.meal { }
			.price { margin: 0; margin-top: -3; text-align: right; color: rgb(180,180,180);}