<?xml version="1.0" encoding="UTF-8"?>
<cProXmlEditorConfig><recentProject.3>H:\Program Files\Nullsoft\Winamp5beta\skins\cProFlex - iFlex</recentProject.3>
  <recentProject.2>H:\Program Files\Nullsoft\Winamp5beta\skins\cProFlex - iFlex</recentProject.2>
  <recentProject.1>H:\Program Files\Nullsoft\Winamp5beta\skins\cProFlex - Test</recentProject.1>
  <recentProject.0>H:\Program Files\Nullsoft\Winamp5beta\skins\cProFlex - Test</recentProject.0>
  <currentPath>H:\Program Files\Nullsoft\Winamp5beta\skins\cProFlex - Test</currentPath>
  <windowPosX>359</windowPosX>
  <windowPosY>229</windowPosY>
</cProXmlEditorConfig>