<?xml version="1.0" encoding="UTF-8"?>
<cProXmlEditorConfig><currentPath>H:\Program Files\Nullsoft\Winamp5beta\skins\cProFlex - iFlex</currentPath>
  <recentProject.0>H:\Program Files\Nullsoft\Winamp5beta\skins\cProFlex - iFlex</recentProject.0>
  <windowPosX>637</windowPosX>
  <windowPosY>286</windowPosY>
</cProXmlEditorConfig>